*{
    padding: 0px;
    width: 100%;

}
.navbar-light {
    border-bottom: 2px solid rgb(0, 0, 0);
    box-shadow: 0px 14px 80px rgba(0, 0, 0, 0.2);
  }
.b {
  

width: 100%;
height: 80px;
  text-decoration: none;
  background-color: Black;
  transition: ease-out 0.2s;
  color: rgb(0, 0, 0);

}
 h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
 } 
.basic {
    color: rgb(239, 119, 250);
    font-style: italic;
    /* margin-top : -10px; */
    margin-left: 200px;
    font-stretch:semi-condensed;
    font-weight: bold;
}
#homebutton:hover {
  background-color: white;
  transition:step-end 0.1s;
  height: 100%;
}
#addButton:hover {
    background-color: white;
    transition:step-end 0.1s;
    height: 100%;
    
  }

#c{
    font-size: 20px;
    line-height: 45px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* margin-bottom: 20px; */
    
}
#homebutton{
    margin-right : 20px;
    color: rgb(239, 119, 250);
    font-style: italic;
    text-align: center;
    border-radius: 15px;
}

#addButton{
    margin-right : 20px;
    color: rgb(239, 119, 250);
    font-style: italic;
    text-align: center;
    border-radius: 15px;

}

#logoutButton{
    margin-right : 20px;
    color: rgb(239, 119, 250);
    font-style: italic;
    background-color: Black;
    border-color: black;
    font-size: 18px;

}
#logoutButton:hover{
    background-color: black;
    transition:step-end 0.1s;
}

