
.ele{
    justify-content: center;
    /* align-items: center; */
    font-size:20px;
    color:rgb(253, 229, 14);
}
#fl{
    align-items: center;
    color: aliceblue;
    font-size:20px;
}
/* .outer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
} */
.inner5 {
    /* height: 600px; */
  width: auto;
  /* margin: auto; */
  margin-top: 50px;
  background: #000000;
  /* box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); */
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: none;
  margin-left: 20px;
}

/* .outer .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
} */
#con{
    color: #e392ee;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#bu {
    background-color: #ffffff;
    color: black;
    width: 100px;
    height: 70px;
}



#asap1 {
    background-color:rgb(253, 229, 14);
   /* padding: 40px 55px 45px 55px; */
    border-radius: 15px;
    width: auto;
    color: black;
    height: 50px;
}
#asap2 {
    background-color:rgb(253, 229, 14);
    margin-top: 20px;
    border-radius: 15px;
    color: black;
    height: 50px;
}


#selectStatus{
    background-color:e392ee;
    color: rgb(187, 12, 12);
    border-radius: 10px;
    height: auto;
    margin: 20px 10px 20px 10px;
    width: 400px;
    margin-top:10px;
    
    
    
}
#upateButton{
    background-color:rgb(250, 0, 0);
    border-color:rgb(250,0,0);
    width: 150px;
    margin:20px 10px 20px 10px;
    margin-left: 150px;
   
}
#twe{
    width:auto;
    background-color:rgb(253, 229, 14);
    color:rgb(5, 5, 5);
    font-size: 20px;

}

#issueDescription{
    background-color:rgb(253, 229, 14);
    border-radius: 10px;
    height: 100px;
color: black;
    margin: 20px 10px 20px 10px;
    width:400px;
    font-style: italic;
    
}
/* .inner78{

     width: 750px; 
    margin-top: 10px; 
  background: #1b1d1b;
  box-shadow: 0px 14px 80px ;
  
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  margin:auto;
  height:auto;
} */
.inner93{
width: auto;
margin-top: 375px;
border-radius: 15px;
margin-left: 600px;
background: #e392ee;
height: auto;
color: rgb(141, 4, 4);
/* padding: 40px 55px 45px 55px; */

}
.inner4{
    
    /* width: 750px; */
    /* margin-top: 10px; */
    background: #e392ee;
  /* box-shadow: 0px 14px 80px ; */
  
  /* padding: 40px 55px 45px 55px; */
  border-radius: 10px;
  transition: all .3s;
  margin:auto;
  height:auto;
}
.inner100{
    
    /* width: 750px; */
    /* margin-top: 10px; */
  background: #e392ee;
  /* box-shadow: 0px 14px 80px ; */
  
  /* padding: 40px 55px 45px 55px; */
  /* border-radius: 10px; */
  transition: all .3s;
  margin:auto;
  height:auto;
}
.inner111 {
    background-color:#e392ee;
    height:auto;
     border-color: #e392ee;
    color: white;
    width: auto;
    padding:10px;
    margin-left: 160px;
    /* margin: 20px 10px 20px 10px; */
    /* margin-left: 150px; */
}
#aaa{
    font-size: 30px;
    margin-left: 50px;
    font-style: italic;
    /* margin-top: 5px; */
}
#bbb{
    font-size: 30px;
    font-style: italic;
    margin-left: 50px;
    margin-right: 50px;
    /* margin-top: 5px; */
}
