#one{
    margin-top: 40px;
}


/* #issueDetails {
    padding-left: 10px;
    height: 600px;
    width: 100%;
    margin: auto;
    /* margin-top: 100px; */
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 14px 80px rgba(148, 148, 223, 0.705);
    border-radius: 15px;
    transition: all .3s;
    background-color:rgb(213, 231, 247)
    
/* } */
.outer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
  }
  
  .inner1 {
      /* height: 600px; */
    width: 450px;
    margin: auto;
    background: #d8a8eb;
    /* box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); */
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
  }
  
  /* .outer .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
  } */
#employee{
    color:black;
    font-size: 40px;
    font-style: italic;
    font-weight: bold; color:rgb(0, 0, 0);
}
#totalissue{
    font-size: 20px;
    color:#000203;
}
#solvedissue{
    font-size: 20px;
    color:#03da20d2;
}
#activeissue{
    font-size: 20px;
    color:#ff0000;
}
#upateHomeBody{
    
    background-image: url('../Images/Admin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}