#b {
  

    width: 100%;
    height: 80px;
      text-decoration: none;
      background-color:#080808;
      font-weight: bold; color:rgb(239, 119, 250);
    
      font-size:50px;
      text-align: center;
    }
    